.emoji1{
    font-size: 20px;
}

.emoji2{
    font-size: 25px;
}

.emoji3{
    font-size: 30px;
}

.emoji4{
    font-size: 35px;
}

.emoji5{
    font-size: 40px;
}

.emoji6{
    font-size: 45px;

}

.emoji7{
    font-size: 50px;

}

.emoji8{
    font-size: 55px;
}

.emoji9{
    font-size: 60px;

}

.emoji10{
    font-size: 65px;
}